//variables
text-color = #5a5a5a;
border-color = #e3e3e3;
border-width = 1px;
color-neutral-light = #f5f5f5;
primary-color = #FFC9A3;
background-color = #e3e3e3;


//mixins
border(n){
	border: border-width solid border-color;
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n
}

border4(){
	border(4px)
}

//styles
body{
    color: text-color;
}

.header{
	font-size: 1.5em;
}

.header-column{
	width: 1.5vw;
}

.jobs-box{
	background-color: background-color;
}
.edu-box{
	background-color: background-color;
}

.job-title{
	font-size: 0.6em;
}
.pro-lang{ //programming language
	font-size: 2.5em;
}

.pro-lang-box{
	border4();
	background-color: color-neutral-light;
}

.domain-box{
	border4();
	background-color: primary-color;
	padding: 10px;
}

//take2
.md-whiteframe-z2-top {
  box-shadow: 0 -8px 17px rgba(0,0,0,.2);
}

.md-whiteframe-z1-top{
	  box-shadow: 0 -2px 5px 0 rgba(0,0,0,.26);
}

//testing layout
.box1{
	background-color: grey;
}
.box2{
	background-color: #bd9956;
}
.box3{
	background-color: #c8b2e1;
}
.box4{
	background-color: #b2e1d4;
}
.box5{
	background-color: #e1d4b2;
}
.box6{
	background-color: #e1d4b2;
}
.box7{
	background-color: #ce8282;
}
.box8{
	background-color: #8286ce;
}
.box9{
	background-color: #a4a4ad;
}
